.city-card {
  text-align: center;
  height: 100%;
  transition: all ease-in-out 1s;

  .temperature {
    font-size: 2rem;
    font-weight: bold;
    margin: 0.5rem 0;
  }

  .condition {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
  }

  mat-card-actions {
    display: flex;
    justify-content: flex-end;
  }


  &.clear-day {
    background:
      url('/assets/weather-background/clear-day.gif'),
      center
      no-repeat;
    background-size: cover;
    color: #3b3b3c;
  }

  &.clear-night {
    background:
      linear-gradient(to bottom, rgba(44, 62, 80, 0.5), rgba(52, 73, 94, 0.5)),
      url('/assets/weather-background/clear-night.gif'),
      center
      no-repeat;
    background-size: cover;
    color: #cecece;
  }

  &.few-clouds-day {
    background:
      linear-gradient(to bottom, #ADD8E6, #87CEEB),
      url('/assets/weather-background/clouds.png'),
      center
      no-repeat;
    background-size: cover;
    color: #cecece;
    //background: linear-gradient(to bottom, #ADD8E6, #87CEEB);
  }

  &.few-clouds-night {
    background: linear-gradient(to bottom, #2C3E50, #5D6D7E);
  }

  &.scattered-clouds {
    background: linear-gradient(to bottom, #B0C4DE, #778899);
  }

  &.broken-clouds {
    background: linear-gradient(to bottom, #A9A9A9, #696969);
  }

  &.shower-rain-day {
    background:
      linear-gradient(to bottom, rgba(176, 196, 222, 0.7), rgba(119, 136, 153, 0.7)),
      url('/assets/weather-background/rain.gif'),
      center
      no-repeat;
    background-size: cover;
    color: #3b3b3c;
  }

  &.shower-rain-night {
    background:
      linear-gradient(to bottom, rgba(44, 62, 80, 0.9), rgba(52, 73, 94, 0.9)),
      url('/assets/weather-background/rain.gif'),
      center
      no-repeat;
    background-size: cover;
    color: #cecece;
  }

  &.rain-day {
    background:
      linear-gradient(to bottom, rgba(176, 196, 222, 0.5), rgba(119, 136, 153, 0.5)),
      url('/assets/weather-background/drizzle.gif'),
      center
      no-repeat;
    background-size: cover;
    color: #3b3b3c;
  }

  &.rain-night {
    background:
      linear-gradient(to bottom, rgba(44, 62, 80, 0.9), rgba(52, 73, 94, 0.9)),
      url('/assets/weather-background/drizzle.gif'),
      center
      no-repeat;
    background-size: cover;
    color: #cecece;
  }

  &.thunderstorm-day {
    background:
      linear-gradient(to bottom,  rgba(176, 196, 222, 0.9), rgba(119, 136, 153, 0.9)),
      url('/assets/weather-background/thunderstorm.gif'),
      center
      no-repeat;
    background-size: cover;
    color: #3b3b3c;
  }

  &.thunderstorm-night {
    background:
      linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(75, 0, 130, 0.5)),
      url('/assets/weather-background/thunderstorm.gif'),
      center
      no-repeat;
    background-size: cover;
    color: #cecece;
  }

  &.snow-day {
    background:
      url('/assets/weather-background/snow.gif'),
      linear-gradient(to bottom,  rgba(255, 255, 255, 0.8), rgba(211, 211, 211, 0.8)),
      center
      no-repeat;
    background-size: cover;
    color: #3b3b3c;
  }

  &.snow-night {
    background:
      url('/assets/weather-background/snow.gif'),
      linear-gradient(to bottom, rgba(44, 62, 80, 0.9), rgba(52, 73, 94, 0.9)),
      center
      no-repeat;
    background-size: cover;
    color: #cecece;
  }

  &.mist {
    background:
      linear-gradient(to bottom, rgba(211, 211, 211, 0.1), rgba(169, 169, 169, 0.4)),
      url('/assets/weather-background/atmosphere.webp')
      center
      no-repeat;
    background-size: cover;
    color: #3b3b3c;
  }

  &.default-bg {
    background: linear-gradient(to bottom, #E0E0E0, #BEBEBE);
  }
}
